*{
    box-sizing: border-box;
   
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.table{
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}
.table th, .table td{

        border: 2px solid black;
        padding: 3px 0px;
        text-align: center;
        width:25px;
}
.table th{
    background: black;
    color: white;

}
.table2{
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}
.table2 th, .table2 td{
    border: 2px solid black;
    padding: 3px 0px;
    text-align: center;
    width:25px;
}
.table2 th{
    background: black;
    color: white;

}

